*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    background-color: #255EE9;
    padding: 20px 0;
}

.display-flex{
    display: flex;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}

.dash-side{
    align-items: center;
    width: 20%;
    padding: 5px;
}

.dash-pt-mid{
    width: 60%;
    padding: 10px;
}

.txt-align-center{
    text-align: center;
}

.dash-btn{
    height: 30px;
    width: 70px;
    background-color: #fff;
    border-radius: 20px;
    color: #000;
    border: 1px solid #fff;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
    margin: 0 10px;
}

.dash-side-dx{
    text-align: right;
}

.bg-image{
    background-image: url(../img/jumbo.png);
    background-size:cover;
    background-repeat: no-repeat;
}

.color-white{
    color: #fff;
}

.pad-20{
    padding: 20px;
}



.jmb-btn-white{
    margin: 30px;
    height: 45px;
    width: 150px;
    background-color: #fff;
    border-radius: 20px;
    color: #000;
    border: 1px solid #fff;
}

.jmb-btn-black{
    margin: 30px;
    height: 45px;
    width: 200px;
    background-color: #000;
    border-radius: 20px;
    color: #fff;
}

.fit-img {
    width: 490px;
    margin-left: 250px;
}

.fit-img-third-sec{
    height: 300px;
    width: 490px;
    margin-left: 50px;
}

.mrg-right {
    margin-right: 150px;
   
}

.mrg-right-fourth-sec{
    margin-right: 250px;
}

.mrg-left {
    margin-left: 250px;
}

.contenitore{
    width: 65%;
    margin: auto;
}

.contenuto{
    height: 300px;
    margin: 20px 0;
}

.sfondo-bianco{
    background-color: white;
}

.sezione-grande{
    width: 60%;
}

.sezione-piccola{
    width: 40%;
}

.sfondo-azzurro{
    background-color: #1e90ff;
}

.sfondo-pelle{
    background-color: #ffc0ca;
}

.sfondo-grigio{
    background-color: #D3D3D3;
}

.sezione-gigante{
    width: 75%;
    align-items: center;
}

.sfondo-verde{
    background-color: #218B21;
}

.mrg-fifth-section{
    margin: 0 100px;
}

.justify-content-center{
    justify-content: center;
}

.sfondo-nero{
    background-color: black;
}

.sezione-moltopiccola{
    width: 30%;
}

.sfondo-salmone{
    background-color: #DD7877;
}

.stretch{
    align-content: stretch;
}

.contenuto-sez{
    height: 300px;
    border: 1px dashed white;
}

.pr-flex-grow{
    flex-grow: 1;
}

.sfondo-verdeacqua{
    background-color: #20B3AA;
}

.space-between{
    justify-content: space-between;
}

.contenitore-finale{
    width: 100%;
    height: 80px;
    border: 1px solid black;
    margin-top: 10px;
}

.contenitore-bottoni{
    width: 100px;
    border: 1px dashed black;
    margin: 25px 0;
}